button {
    width: 120px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  }
button {
    background-color: #45a049;
  }
  